/*header*/
.img-head{
    padding : 0px;

}

.btn-head{
    border-radius: 0px;
    height : 100px;
    text-align: center;
    line-height: 90px;
    font-size: 40px;
}
.bcg-btn{
    padding : 0px;

}
h1{
    text-align: center;
}