/*header*/
.img-head{
    padding : 0px;

}

.btn-head{
    border-radius: 0px;
    height : 70px;
    text-align: center;
    line-height: 50px;
    font-size: 40px;
}
.bcg-btn{
    padding : 0px;
}
#btn-engage{
    background-color : #00ABB9;
}
#btn-like{
    background-color: #00ABB9;
}
#btn-dontlike{
    background-color: #3B5998;
}
.img-navbar{
    height : 70px;
}
h2{
    text-align: center;
    font-size: 40px;
}
.margetitle{
    margin-top:25px;
    margin-bottom: 25px;
}
#carous{
    border: #000 solid 5px;
    padding: 0px;
}
.border{
    border-left: 0px;
    border: #000 solid 5px;
    background-color : #FFF;
}
.padtitle{
    border: #000 solid 5px;
    padding-bottom: 9px;
    padding-top:12px;
    margin:0px;
    border-left-width: 0px;
    border-right-width: 0px;
    background-color: #74A098;
    color : #fff;
}
.row{
    padding: 0px;
}
#image{
    margin-bottom: 10px;
}
#border-bot{
    border: black solid 5px;
    border-right-width: 0px;
    border-left-width: 0px;
}
#image{
    overflow: hidden;
}
body{
    background-color: #E8E8E8;
}
p{
  margin-left: 80px;
  margin-right: 80px;
  text-align: justify;
}
li{
  text-align:center;
}
